force-app/main/default/flows/getLocationName.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Address_from_Coordinates_Action_1</name>
        <label>Get Address from Coordinates Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>locCoordinatesConvert</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assignment_1</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>latitude</name>
            <value>
                <elementReference>lat</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>longitude</name>
            <value>
                <elementReference>longi</elementReference>
            </value>
        </inputParameters>
        <nameSegment>locCoordinatesConvert</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>fullAdd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Address_from_Coordinates_Action_1.fullAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>secName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Address_from_Coordinates_Action_1.sectorName</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>getLocationName {!$Flow.CurrentDateTime}</interviewLabel>
    <label>getLocationName</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Address_from_Coordinates_Action_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>fullAdd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>lat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>longi</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>secName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
