force-app/main/default/flows/Location_Avg_Calcuation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>adding_all_values</name>
        <label>adding all values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>totalRevenue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_all_competitors_for_a_location.Annual_Revenue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalFootfall</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_all_competitors_for_a_location.Avg_Daily_Footfall__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalSetupCost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_all_competitors_for_a_location.Setup_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_all_competitors_for_a_location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculations_formulas</name>
        <label>Calculations formulas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>avgRevenue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>avgRevFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>avgFootfall</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>avgFootfallFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>avgSetupCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>avgSetupFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>avgPaybackPeriod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>avgPaybackFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updating_location</targetReference>
        </connector>
    </assignments>
    <description>Calculates avg revenue, footfall, setup cost and payback period of a location  based on child competitors</description>
    <environments>Default</environments>
    <formulas>
        <name>avgFootfallFormula</name>
        <dataType>Number</dataType>
        <expression>{!TotalFootfall}/{!count}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>avgPaybackFormula</name>
        <dataType>Number</dataType>
        <expression>{!avgSetupCost}/{!avgRevenue}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>avgRevFormula</name>
        <dataType>Number</dataType>
        <expression>{!totalRevenue}/{!count}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>avgSetupFormula</name>
        <dataType>Number</dataType>
        <expression>{!totalSetupCost}/{!count}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Location Avg Calcuation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Location Avg Calcuation</label>
    <loops>
        <name>Loop_over_all_competitors_for_a_location</name>
        <label>Loop over all competitors for a location</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>All_Child_Competitors_of_location</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>adding_all_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Calculations_formulas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>All_Child_Competitors_of_location</name>
        <label>All Child Competitors of location</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_all_competitors_for_a_location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Location__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Competitor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updating_location</name>
        <label>updating location</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Avg_FootFall__c</field>
            <value>
                <elementReference>avgFootfall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Avg_Payback_Period__c</field>
            <value>
                <elementReference>avgPaybackFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Avg_Revenue__c</field>
            <value>
                <elementReference>avgRevenue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Avg_Setup_Cost__c</field>
            <value>
                <elementReference>avgSetupCost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Competitors__c</field>
            <value>
                <elementReference>count</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Location__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>All_Child_Competitors_of_location</targetReference>
        </connector>
        <object>Competitor__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>avgFootfall</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>avgPaybackPeriod</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>avgRevenue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>avgSetupCost</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalFootfall</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>totalRevenue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>totalSetupCost</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
