force-app/main/default/flows/OTP_verification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Verifies OTP entered by field representative</description>
        <name>Verify_OTP</name>
        <label>Verify OTP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>verifyCustomerCode</actionName>
        <actionType>verifyCustomerCode</actionType>
        <connector>
            <targetReference>verified_or_not</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customerCode</name>
            <value>
                <elementReference>OTP_Flow2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>authenticationKey</name>
            <value>
                <elementReference>authCodeFlow2</elementReference>
            </value>
        </inputParameters>
        <nameSegment>verifyCustomerCode</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_isVerified</name>
        <label>assign isVerified</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isVerified</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Verify_OTP.isVerified</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>output_Message_Flow2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>successMsg</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>verifyFailAssign</name>
        <label>verifyFailAssign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isVerified</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Verify_OTP.isVerified</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>output_Message_Flow2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>failVerificationMsg</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>verified_or_not</name>
        <label>verified or not</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>verifyFailAssign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Verified</defaultConnectorLabel>
        <rules>
            <name>Verified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Verify_OTP.isVerified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_contact</targetReference>
            </connector>
            <label>Verified</label>
        </rules>
    </decisions>
    <description>Used to verify the OTP entered by the user</description>
    <environments>Default</environments>
    <interviewLabel>OTP verification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OTP verification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_contact</name>
        <label>get contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_isVerified</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conEmail_Flow2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verify_OTP</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>message for failed verification</description>
        <name>failVerificationMsg</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Your verification has failed because of wrong OTP entered.&lt;/p&gt;&lt;p&gt;Please try again.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>successMsg</description>
        <name>successMsg</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;OTP has been successfully verified.&lt;/p&gt;&lt;p&gt;welcome back {!get_contact.FirstName}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>authorization code</description>
        <name>authCodeFlow2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>email of the contact</description>
        <name>conEmail_Flow2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>isVerified boolean variable</description>
        <name>isVerified</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>OTP</description>
        <name>OTP_Flow2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>output message of OTP verification flow</description>
        <name>output_Message_Flow2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
