force-app/main/default/flows/RTF_Update_observed_values_in_Retail_store.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Error_Enciuntered</name>
        <label>Error Encountered</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_which_value_is_populated</name>
        <label>Check which value is populated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Revenue_Footfall</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Annual_Revenue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Avg_Daily_Footfall__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Retail_Store_Data</targetReference>
            </connector>
            <label>Revenue+Footfall</label>
        </rules>
        <rules>
            <name>Revenue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Annual_Revenue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Avg_Daily_Footfall__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Retail_Store_Data1</targetReference>
            </connector>
            <label>Revenue</label>
        </rules>
        <rules>
            <name>FootFall</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Avg_Daily_Footfall__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Annual_Revenue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Retail_Store_Data2</targetReference>
            </connector>
            <label>FootFall</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_the_Visit_is_for_Retail_store</name>
        <label>If the Visit is for Retail store?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Visit.RetailStoreId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_which_value_is_populated</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updates the annual revenue and footfall data from retail Visit KPI to Retail Store - Field Intelligence data</description>
    <environments>Default</environments>
    <interviewLabel>Update observed vales in Retail store {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF: Update observed values in Retail store</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Retail_Store_Data</name>
        <label>Update Retail Store Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Error_Enciuntered</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Visit.RetailStoreId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Annual_Revenue__c</field>
            <value>
                <elementReference>$Record.Annual_Revenue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Avg_Daily_Footfall__c</field>
            <value>
                <elementReference>$Record.Avg_Daily_Footfall__c</elementReference>
            </value>
        </inputAssignments>
        <object>RetailStore</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Retail_Store_Data1</name>
        <label>Update Retail Store Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Enciuntered</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Visit.RetailStoreId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Annual_Revenue__c</field>
            <value>
                <elementReference>$Record.Annual_Revenue__c</elementReference>
            </value>
        </inputAssignments>
        <object>RetailStore</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Retail_Store_Data2</name>
        <label>Update Retail Store Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Enciuntered</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Visit.RetailStoreId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Avg_Daily_Footfall__c</field>
            <value>
                <elementReference>$Record.Avg_Daily_Footfall__c</elementReference>
            </value>
        </inputAssignments>
        <object>RetailStore</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_the_Visit_is_for_Retail_store</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>VisitId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Annual_Revenue__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Avg_Daily_Footfall__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>RetailVisitKpi</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
